

<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>
     <div class="container" >
          <h1>	<%-title  %> </h1>
          <% if(typeof message !== 'undefined'){%>
               <%-message  %> 
               <% } %> 
          <section>
               <form action="/edit/<%=user._id  %> " method="post">
                    <label for="">Nome</label>
                    <input type="text" name="name" value="<%-user.name  %> ">
                    <br>
                    <label for="">Idade</label>
                    <input type="number" name="age" value="<%-user.age  %>">
                    <br>
                    <label for="">E-mail</label>
                    <input type="text" name="email" value="<%-user.email  %>">
                    <br>
                    <label for="">Celular</label>
                    <input id="TELEFONE" type="text" name="celular" value="<%-user.celular %>">
                    <br>
                    <label for="">Principal ?</label>
                    <input type="checkbox" name="principal" value="<%-user.principal %>" >
                    <br>
                    <label for=""></label>
                    <input type="submit" value=" Editar" ></input
               </form>
          </section>
     </div>








</body>

</html>